.years{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.years > div{
 width:10%;
}


.menu{

  display: flex;
    padding: 2%;
    text-align: center;
    justify-content: center;

}

.button{
  margin: 5px;
}




.container {
    display: flex;
    flex-direction: column;
   
  }

  .mapcontainer{
      flex-grow: 2;
  }
  
  .map {

    height:50vh;
    background-color: #ccc;
  }
  
  .data {
 
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .data table {
    width:100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
 .data th,
  .data td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
 .data th:first-child,
  .data td:first-child {
    text-align: left;
  }
  
  .data th:last-child,
  .data td:last-child {
    border-right: none;
  }
  
  .chart {
    flex: 1 0 50%;
    height: 300px;
    margin: auto;
    background-color: #ccc;
  }
  